.u-setHeader {
  display: grid;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  grid-template-columns: .1fr 1fr 1fr 1fr .1fr;
  grid-template-rows: 40px .5fr;
}

.u-floatLeft {
  grid-column-start: 2;
  grid-column-end: 4;
}

// .u-inline NavLink {
//   margin: 0 20px;
// }

.u-floatRight {
  grid-column-start: 4;
  grid-column-end: 5;
}

.u-floatBottom {
  grid-row-start: 2;
}

.u-floatBelow {
  grid-row-start: 3;
}

.u-Left {
  grid-column-start: 2;
}
