.About {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.About-skills {
  overflow: auto;
  // max-width: 235px;
  max-height: 90%;
  padding: 0 30px;

  h3 {
    margin: 0 0 1em 0;
    text-align: justify;
  }

  h4 {
    margin: 1em auto 0 auto;
  }

  li {
    text-align: justify;
  }
}

.About-blurb {
  // max-width: 235px;
  min-width: 235px;
  // padding: 0 30px;

  h3 {
    margin: 0;
  }

  p {
    text-align: justify;
    max-width: 235px;
  }
}

@media (max-width: 600px) {
  .About {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(100%, 100%, 100%, .95);
  }
}
