.Bio {
  background-color: rgba(100%, 100%, 100%, .8);
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 500px;
  min-width: 235px;
  padding: 20px 20px 20px 0;

  h3 {
    margin: 0;
  }

  p {
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .Bio {
    // align-self: center;
    grid-column-end: 5;
    // width: 100%;
  }
}
