.u-setHeader {
  h1 {
    font: 4em $font-title;
    margin: 10px 0;
    min-width: 376px;
    max-width: 500px;
  }

  h2 {
    font: $font-body;
    margin: 5px 0;
  }
}

.background-img {
  background-size: auto;
  background-position-x: right;
  background-repeat: no-repeat;
}

// .header-background-img {
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position-x: right;
// }



@media (max-width: 600px) {
  .u-setHeader h1 {
    font: 3em $font-title;
    margin: 10px 0;
    min-width: 376px;
    max-width: 500px;
  }

  .background-img {
    background-size: contain;
  }
}
