.u-setHeader {
  h1 {
    font: 4em $font-title;
    margin: 10px 0;
    min-width: 376px;
    max-width: 500px;
  }

  h2 {
    font: $font-body;
    margin: 5px 0;
  }
}

.background-img {
  background-size: auto;
  background-position-x: right;
  background-repeat: no-repeat;
}

.About-blurb {
  min-width: 235px;

  h3 {
    margin: 0;
  }

  p {
    text-align: justify;
    max-width: 235px;
  }
}

@media (max-width: 1020px) {
  .background-img {
    background-position-x: center;
  }
}

@media (max-width: 600px) {
  .u-setHeader h1 {
    font: 3em $font-title;
    margin: 10px 0;
    min-width: 376px;
    max-width: 500px;
  }
}
