.Projects {
  a:nth-child(even) {
    margin-left: 20px;
  }
}

.Projects-block {
  display: grid;
  grid-template-columns: 384px 1fr;
  grid-template-rows: 240px;
  grid-column-gap: 10px;
}

@media (max-width: 1020px) {
  .Projects-block {
    grid-template-columns: 384px;
    grid-template-rows: 240px 1fr;
    grid-row-gap: 10px;
  }
}
